body{
  color: aliceblue;
  background-color: black;
}

header{
  margin: 90px 0px;
}

header h1{
  font-size: 50px;
}

main h1{
  font-size: 35px;
}

h2{
  text-decoration: underline;
}

.edu, .edu1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edu p{
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}

.edu1 p, ul li, .exp p{
  font-size: 25px;
  margin: 0;
  font-weight: 300;
}

.exp h3{
  font-weight: 400;
  font-size: 20px;
}

.eduInfo{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.education h1{
  text-decoration: underline;
}

.address p{
  text-align: center;
  margin: 20px 0px;
}

.links p{
  text-align: center;
  margin: 10px 0px;
}

.App{
  padding: 20px;
}

a{
  text-decoration: none;
}

header span{
  margin: 20px;
}

.name h1{
  text-align: center;

}

@media (max-width: 769px) {
  body{
    background-color: white;
    color: black;
  }
}

@media (max-width: 426px) {
  body{
    background-color: yellow;
  }

  .links p{
    display: flex;
    flex-direction: column;
  }

  .exp h3{
    font-weight: 400;
    font-size: 15px;
  }

  .edu p{
    font-weight: 500;
    font-size: 15px;
    margin: 0;
  }
  
  .edu1 p, ul li, .exp p{
    font-size: 15px;
    margin: 0;
    font-weight: 300;
  }
}